/* CSS 기본 설정 */
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  }

  html, body{
  min-height: 100vh;
  height: 100%;
  }

  #root{
  height: 100%;
  }

  span{
  font-size: 40px;
  }

  .container{
    display: flex;
    justify-content: center;
    align-items: center
  }

  .switch{
    position: relative;
    display: inline-block;
    width: 500px;
    height: 50px;
  }

/* checkbox invisible */
  .switch input{ 
    opacity: 0;
    width: 0;
    height: 0;
  }

.switch{
  position: relative;
  display: inline-block;
  width: 500px;
  height: 50px;
}

/* slider */
  .slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;

  }
  
  .slider:before{
    position: absolute;
    content: "기본";
    font-weight: bold;
    font-size: 15px;
    text-align:center;
    line-height: 46px;
    height: 46px;
    width: 248px;
    top : 2px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider{
    background-color: #ccc;
  }

/* checked상태에서 slider */
  input:checked + .slider:before{
    -webkit-transform: translateX(247.5px);
    -ms-transform: translateX(247.5px);
    transform: translateX(247.5px);
    content: "상세";
  }

/* slider 기본설정 */
  .slider.round{
    border-radius: 30px;
  }

  .slider.round:before{
    border-radius: 30px;
  }

  .switch-checkbox{
    padding: 10px
  }